<div class="footer">
    <div class="row">
        <div class="col-sm">
            @ 2018 Copyright: Dung Hoang
        </div>
        <div class="col-md">
            Contact me at:
            <a href="https://www.facebook.com/hndung2406" target="_blank"><img src="/images//facebook.png" style="width: 40px; height: 40px"></a>
            <a href="https://twitter.com/DavidHoang2406" target="_blank"><img src="/images//twitter.png" style="width: 40px; height: 40px"></a>
            <a href="https://github.com/hndung2406" target="_blank"><img src="/images//github.png" style="width: 40px; height: 40px"></a>
            <a href="https://www.linkedin.com/in/ho%C3%A0ng-d%C5%A9ng-700b37160/" target="_blank"><img src="/images//linkedin.png" style="width: 41px; height: 41px"></a>
        </div>
    </div>

</div>
