<div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/logo.png" style="width: 100px; height:40px;"></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">Wish</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/wish/wishes">Wish List</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/wish/upload">Wish Add</a></li>
                    </ul>
                </li>
                
            </ul>
            <ul class="navbar-nav" style="padding-right: 10px;">
                {{#if user}}
                    <li class="nav-item d-flex justify-content-end">
                        <a><img src="/images/img_avatar.png" alt="Avatar" style="width:40px; border-radius: 50%; margin-right:10px;"></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/user/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item d-flex justify-content-end">
                        <a class="nav-link" href="/user/register">Register</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/user/login">Login</a>
                    </li>
                {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            
        </div>
    </nav>
</div>