<div id="sidebar">
    <ul>
        <a class="side-link" href="/user/{{user._id}}">
            <li>Information</li>
        </a>
        <a class="side-link" href="/wish/wishes">
            <li>Wish List</li>
        </a>
    </ul>
</div>