.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #343a40!important;
    text-align: center;
    color: white;
}

.home {
    min-height:100%;
    position: relative;
}

body {
    margin:0;
    padding:0;
    height:100%;
}

.container {
    padding:10px;
    padding-bottom:10px;
}