.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: #343a40!important;
    text-align: center;
    color: white;
    width: 100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 8rem;    /* Footer height */
}