<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    {{> header}}
</head>

<body>
    <div id="page-container">
        {{> navbar}}
        {{> sidebar}}
        <div id="content-wrap" style="float: right; width: 82%; height: 100%; padding-right: 2%;">
            <div class="container">
                <h1>User Information</h1>
                <div class="card">
                    <div class="card-body">Basic card</div>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>

</body>

</html>