<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <style media="screen">
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
        </style>
        {{> header}}
    </head>
    <body>
        {{> navbar}}
        <div class="container">
            <!-- Welcoming text -->
            <h1 style="text-align: center">Welcome to my website</h1>
            <h4 style="text-align: center">Some happy picture of me and my love one</h4>
            <img src="./TuLinh.jpg" class="center">
        </div>
        {{> footer}}
    </body>
</html>
