<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    
    <body>
        <h1>Todo List</h1>
        <table>
            <tr>
                <th>Text</th>
                <th>Completed</th>
                <th>Time</th>
            </tr>
            {{#each todos}}
                <tr>
                    <th>{{text}}</th>
                    <th>{{completed}}</th>
                    <th>{{completedAt}}</th>
                </tr>
            {{/each}}
        </table>
    </body>

</html>
