<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Wish</title>
    {{> header}}
</head>

<body>
    <div id="page-container">
        {{> navbar}}
        <div class="container" id="content-wrap">
            <div class="row">
                <div class="col-md-7">
                    <iframe style="margin-top: 78px; padding-right: 50px;" width="650" height="350" src="https://www.youtube.com/embed/yCjJyiqpAuU?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="col-md-5">
                    <h1 style="text-align: center; padding-top: 20px;">Your Wish</h1>
                    <div class="card mx-auto" style="width: 400px;">
                        <div class="container">
                            <form action="/wish/upload" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label style="padding-top:10px">Name</label>
                                    <input class="form-control" type="text" name="name" id="name" required>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="">Link</label>
                                            <input class="form-control" type="text" name="link" id="link" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="">Price</label>
                                            <input class="form-control" type="number" name="price" id="price" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Brief Description</label>
                                    <input class="form-control" type="textarea" name="desc" id="desc">
                                </div>
                                <div class="form-group">
                                    <label for="">Image Name</label>
                                    <input class="form-control" type="text" name="fileName" id="fileName" required>
                                </div>
                                <div class="form-group">
                                    <p>File</p>
                                    <img src="" alt="" id="image" style="width:100px; height: 100px;">
                                </div>
                                <div class="form-group">
                                    <input class="form-control-file" type="file" name="photo" id="photo" required>
                                    {{#if success}}
                                        <small>Successfully Uploaded</small>
                                    {{/if}}
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary" style="margin-bottom: 15px">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
        <script src="/js/list.js"></script>
    </div>

</body>

</html>