.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-color: #343a40!important;
    text-align: center;
    color: white;
    width: 100%;
}

body {
    margin:0;
    padding:0;
    height:100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 8rem;    /* Footer height */
}

* {
    margin: 0px;
    padding: 0px;
}

#sidebar {
    position: fixed;
    width: 15%;
    height: 100%;
    background: #383838;
    float: left;
}

#sidebar ul li {
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #808080;
}
#sidebar ul li:hover {
    background: #808080;
}
.side-link {
    text-decoration: none;
}
.side-link:hover {
    text-decoration: none;
}

